body {
  width: 100%;
  height: 100%;
  font-family: 'DM Sans', sans-serif !important;  
  background: #171717;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}
.banner-container {
  margin-top: 5%;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.banner:hover {
  transform: scale(1.02);
}

.titulo-home{
    color: #FF084B;
    font-family: DM Sans, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.carousel__slides {
    display: flex;
    width: 500%;
    transition: margin-left 0.6s ease-in-out;
}

.carousel__slide {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}

.carousel__slide img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.carousel__thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.carousel__thumbnails li {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    overflow: hidden;
    transition: border 0.3s;
}

.carousel__thumbnails li.active {
    border-color: #FF084B;
}

.carousel__thumbnails img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 700px) {
    .carousel__slide img {
        height: 180px;
    }
    .carousel__thumbnails img {
        width: 60px;
        height: 45px;
    }
}
.news-card .news-image {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.news-card:hover .news-image {
  transform: scale(1.01);
}

.news-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.2));
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.badge.bg-success {
  font-size: 0.75rem;
  padding: 0.4em 0.6em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

section h2 {
  font-weight: 600;
  color: #00a859;
}

.text-light a:hover {
  text-decoration: underline;
}
body h3{
  color: white;
}
body small{
  color: white;
}
body a{
  text-decoration: none;
  color: white;
}