  .footer {
    color: white;
    padding: 40px 20px;
    font-family: "Roboto", sans-serif;
    background-color: #171717;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-col ul.social li a {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

.footer-col ul.social li a:hover {
    opacity: 0.7;
}

.back-to-top {
    padding: 14px 20px;
    background: linear-gradient(135deg, #FF084B, #FF084B);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 94, 180, 0.2);
    text-decoration: none;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

.footer-links a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

.footer-links a:hover {
    opacity: 0.7;
}
footer span {
    color: #FF084B;
}