 header{
        background-color: #031650;
        height: 175px;
     }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin-top: -25px;
    }
    nav li {
        display: inline-block;
        margin: 0 15px;
    }
    nav a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        font-family: DM Sans, sans-serif;
    }
    nav a:hover {
        color: #FF084B;
    }
    header img {
        width: 170px;
        height: 170px;
        object-fit: cover;
        margin-bottom: -50px;
        margin-right: -30px;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .titulo{
        margin-top: -15px;
    }
    .titulo h1 {
        color: white;
        font-size: 30px;
        margin-left: 10px;
        font-family: DM Sans, sans-serif;
    }
    .titulo span {
        color: #FF084B;
    }
    .titulo h2 {
        color: white;
        font-size: 20px;
        margin-left: 10px;
        font-family: DM Sans, sans-serif;
        margin-top: -20px;
    }
    .btn-menu {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .btn-menu {
        position: absolute;
        top: 25px;
        left: 25px;
        z-index: 10;
    }
    .btn-hamburger {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        transition: background 0.2s;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-hamburger:hover,
    .btn-hamburger:focus {
        background: rgba(255, 255, 255, 0.1);
    }
    .btn-hamburger svg {
        display: block;
    }