.form-container {
  width: 400px;
  background: linear-gradient(#171717, #171717) padding-box,
              linear-gradient(145deg, transparent 35%,#171717, #171717) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: DM Sans,sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}
.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-weight: 600;
  font-size: medium;
}
.form-container select{
  width: 350px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: DM Sans,sans-serif;
  background-color: #171717;
  border: 1px solid #414141;
  font-size: medium;
}
.form-container .form-group input {
  width: 320px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: DM Sans,sans-serif;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 320px;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: DM Sans,sans-serif;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #FF084B;
}

.form-container .form-group textarea:focus {
  outline: none;   
  border-color: #FF084B;
}
.form-container select:focus {
  outline: none;
  border-color: #FF084B;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-self: center;
  font-family: DM Sans,sans-serif;
  color: white;
  font-weight: 600;
  width: 90%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #FF084B;
  border-color: #FF084B;
}

.imagem-input{
    display: flex;
    justify-content: center;
}
.custum-file-upload {
  height: 50px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #414141;
  background-color: #171717;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #414141;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 30px;
  fill: white;
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 600;
  color: white;
  font-family: DM Sans,sans-serif;
  font-size: 12px;
}

.custum-file-upload input {
  display: none;
}