.card-time-cloud {
  position: relative;
  border-radius: 1em;
  width: 17.5em;
  height: 7.5em;
  z-index: 2;
  border: solid 0.1em lightgrey;
  transition: 0.5s all ease-in-out;
  box-shadow: 0em 0em rgb(0, 0, 0, 0.25);
  overflow: hidden;
}

.card-time-cloud-front {
  width: 20em;
  height: 12.5em;
  background: lightgray;
  border-radius: 1em;
  position: absolute;
  z-index: 2;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s all ease-in-out;
}

.card-time-cloud-back {
  width: 20em;
  height: 12.5em;
  background: rgb(136, 135, 141);
  border-radius: 1em;
  position: absolute;
  z-index: 1;
  top: 57.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s all ease-in-out;
}

.card-time-cloud:hover {
  margin-bottom: 1em;
  box-shadow: 0em 1em rgb(0, 0, 0, 0.25);
}

.card-time-cloud:hover .card-time-cloud-front {
  top: 105%;
}

.card-time-cloud:hover .card-time-cloud-back {
  filter: blur(1em);
}

.card-time-cloud-back svg {
  position: absolute;
  z-index: 1;
  top: -5em;
  left: -2.5em;
  width: 25em;
  height: auto;
  opacity: 50%;
  animation: rotate-cloud 15s linear infinite;
  filter: blur(1.5em);
}

@keyframes rotate-cloud {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-time-cloud-rain {
  width: 0.15em;
  height: 2em;
  background: linear-gradient(lightgray, #4a4b5500);
  z-index: 1;
  position: absolute;
  top: -5em;
  transform: rotate(-20deg) translate(-2em);
}

.card-time-cloud:hover .card-time-cloud-rain {
  animation: rain-effect 1s linear infinite;
}

@keyframes rain-effect {
  0% {
    top: -5em;
    left: 0em;
    opacity: 50%;
  }
  90% {
    top: 12.5em;
    left: 6em;
    opacity: 0%;
  }
  100% {
    top: -5em;
    left: 0em;
    opacity: 0%;
  }
}

.card-time-cloud-rain:nth-child(2) {
  transform: rotate(-20deg) translate(-0.5em);
}
.card-time-cloud-rain:nth-child(3) {
  transform: rotate(-20deg) translate(1.5em);
}
.card-time-cloud-rain:nth-child(4) {
  transform: rotate(-20deg) translate(3em);
}
.card-time-cloud-rain:nth-child(5) {
  transform: rotate(-20deg) translate(4.5em);
}
.card-time-cloud-rain:nth-child(6) {
  transform: rotate(-20deg) translate(6em);
}
.card-time-cloud-rain:nth-child(7) {
  transform: rotate(-20deg) translate(8.5em);
}
.card-time-cloud-rain:nth-child(8) {
  transform: rotate(-20deg) translate(10em);
}
.card-time-cloud-rain:nth-child(9) {
  transform: rotate(-20deg) translate(12em);
}
.card-time-cloud-rain:nth-child(10) {
  transform: rotate(-20deg) translate(14em);
}

.card-time-cloud:hover .card-time-cloud-rain:nth-child(2),
.card-time-cloud:hover .card-time-cloud-rain:nth-child(6) {
  animation: rain-effect 1s linear infinite 0.25s;
}
.card-time-cloud:hover .card-time-cloud-rain:nth-child(3),
.card-time-cloud:hover .card-time-cloud-rain:nth-child(7) {
  animation: rain-effect 1s linear infinite 0.45s;
}
.card-time-cloud:hover .card-time-cloud-rain:nth-child(4),
.card-time-cloud:hover .card-time-cloud-rain:nth-child(8) {
  animation: rain-effect 1s linear infinite 0.35s;
}
.card-time-cloud:hover .card-time-cloud-rain:nth-child(5),
.card-time-cloud:hover .card-time-cloud-rain:nth-child(9) {
  animation: rain-effect 1s linear infinite 0.7s;
}

.card-time-cloud-day {
  color: rgb(136, 135, 141);
  position: absolute;
  z-index: 3;
  top: 1.25em;
  left: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.5s all ease-in-out;
}

.card-time-cloud-day-number {
  color: rgb(136, 135, 141);
  position: absolute;
  z-index: 3;
  top: 3em;
  left: 0.65em;
  font-size: 1.25em;
  transition: 0.5s all ease-in-out;
  font-weight: 500;
}

.card-time-cloud-hour {
  color: rgb(136, 135, 141);
  position: absolute;
  z-index: 3;
  top: 1.25em;
  right: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.5s all ease-in-out;
}

.card-time-cloud:hover {
  height: 14em;
}

.card-time-cloud:hover .card-time-cloud-hour {
  top: 0.5em;
  font-size: 3em;
}
.card-time-cloud:hover .card-time-cloud-day,
.card-time-cloud:hover .card-time-cloud-day-number,
.card-time-cloud:hover .card-time-cloud-hour {
  color: #4a4b55;
}
.card-time-cloud-icon svg {
  position: absolute;
  z-index: 4;
  top: 4em;
  right: 0.6em;
  transform: rotate(0deg);
  width: 1.5em;
  height: auto;
  transition: 0.5s all ease-in-out;
}

.card-time-cloud:hover .card-time-cloud-icon svg {
  top: 7.25em;
  right: -1.75em;
  width: 7.5em;
  height: auto;
  transform: rotate(-35deg);
}
.card-time-cloud:active {
  transition: 0.25s all ease-in-out;
  transform: scale(0.95);
}

.card-time-cloud:active .card-time-cloud-front {
  transition: 0.25s all ease-in-out;
  top: 120%;
  background-color: #4a4b55;
}

.card-time-cloud:active .card-time-cloud-icon svg {
  transition: 0.25s all ease-in-out;
  top: 8em;
  transform: rotate(-25deg);
  stroke: #4a4b55;
}