 body{
    background-image: url('../img/fundo_login.png');
    background-size:  cover;
    background-position: center;
  }
.container {
  display: flex;
  justify-content: center;
}
.login{
  text-align: center;
  color: white;
  font-size: 3em;
  margin-top: 1em;
  font-weight: bold;
  font-family: DM Sans, sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: var(--bg-card);
  border-radius: 25px;
  transition: .4s ease-in-out;  
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: var(--text-white);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: var(--text-white);
  background-color: var(--bg-input);
  box-shadow: inset 2px 5px 10px var(--shadow-primary);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}

.button4 {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #4CAF50;
  color: white;
  font-weight: 600;
}

.button4:hover {
  background-color: #45a049;
  color: white;
  transform: translateY(-2px);
}

/* ===== RESPONSIVIDADE ===== */

@media (max-width: 768px) {
  .login {
    font-size: 2.5em;
    margin-top: 0.8em;
  }
  
  .form {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0 1rem;
  }
  
  #heading {
    font-size: 1.1em;
    margin: 1.5em;
  }
  
  .field {
    padding: 0.5em;
  }
  
  .form .btn {
    margin-top: 2em;
  }
}

@media (max-width: 480px) {
  .login {
    font-size: 2em;
    margin-top: 0.6em;
  }
  
  .form {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 0.5rem;
  }
  
  #heading {
    font-size: 1em;
    margin: 1em;
  }
  
  .field {
    padding: 0.4em;
  }
  
  .button1,
  .button2,
  .button3,
  .button4 {
    padding: 0.4em;
    font-size: 0.9em;
  }
  
  .button1 {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  
  .button2 {
    padding-left: 1.8em;
    padding-right: 1.8em;
  }
}

@media (max-width: 360px) {
  .login {
    font-size: 1.8em;
    margin-top: 0.5em;
  }
  
  .form {
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin: 0 0.3rem;
    border-radius: 20px;
  }
  
  #heading {
    font-size: 0.9em;
    margin: 0.8em;
  }
  
  .field {
    padding: 0.3em;
    border-radius: 20px;
  }
  
  .input-icon {
    height: 1.1em;
    width: 1.1em;
  }
  
  .form .btn {
    margin-top: 1.5em;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .button1,
  .button2,
  .button3,
  .button4 {
    padding: 0.3em;
    font-size: 0.85em;
    width: 100%;
    margin-right: 0;
  }
  
  .button1 {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
  
  .button2 {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  
  .button3 {
    margin-bottom: 0.5em;
  }
  
  .button4 {
    margin-top: 0.5em;
    margin-bottom: 2em;
  }
}